<div class="navbar bg-base-100 shadow-sm bg-base-content text-base-100">
  <div class="flex-1">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      class="btn btn-ghost text-xl">Accueil</a>
    <a [routerLink]="['/actualites']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"
      class="btn btn-ghost text-xl">Nos actualités</a>
    <a routerLink="/signaux" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"
      class="btn btn-ghost text-xl">Les signaux</a>
  </div>
  <div class="flex-none">
    <button routerLink="/connexion" class="btn btn-square btn-ghost">
      <ng-icon name="heroUserCircle" />
    </button>
  </div>
</div>