<section>
  <h1>Détails actualités</h1>
  <p>Paramètre de l'url : {{id}}</p>

  @if(news){
  <div class="w-1/3 mt-5 m-auto">
    <app-news-card [news]="news" />
  </div>
  }@else if(httpError) {
  <p>Erreur de chargement des données</p>
  } @else {
  <p>chargement ...</p>}


  <div class="pt-5">
    <a routerLink="description" class="btn">Description</a>
    <a routerLink="mise-a-jour" class="btn">Mise à jour</a>

    <h2 class="pt-2">composant chargé par la routes enfant</h2>
    <router-outlet />

  </div>
</section>