<section>
  <h1>Nos actualités</h1>
  <div class="ml-auto mb-5 mr-5 w-fit">
    <button (click)="displayForm = !displayForm" class="btn btn-primary">ajouter une actualité</button>
  </div>

  @if(displayForm){
  <app-news-form />
  }

  @if(news){
  <app-news-list [news]="news" />
  } @else if(errorMessage){
  <p>si backend renvoie des messages d'erreurs directement affichable : {{errorMessage}}</p>
  <p>sinon, message en dure : Erreur de chargement des données</p>
  }
  @else{
  <p>chargement ...</p>
  }
</section>